* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 2.5rem 5rem 2.5rem;
}

header{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.logo{
  width: 200px;
}

.btn, .product__price, .product__category {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
}
.tags-container {
  display: none;  
  width: 100vw;
  overflow-x: auto; 
  white-space: nowrap;
  gap: 6px;
  padding: 10px;
  scrollbar-width: none; 
  margin-top: 0.5rem;
  background:#f0f0f0;
}

.sticky{
  position: fixed;
  z-index: 10;
  top: 0;
  margin-top: 0;
}

.tags-container::-webkit-scrollbar {
  display: none; 
}

.tag {
  background: #fff;
  color: #1C1C1E;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  flex-shrink: 0; /* Prevent items from shrinking */
}

.active_tag{
  background: #2e8b57;
  color:white;
}

.category-title{
  margin-bottom: 1rem;
  color:#1C1C1E;
}

.product-container{
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 1.45em 3.5em;
  white-space: nowrap;
  border-radius: 5px;
}
.product {
  position: relative;
  padding: 30px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  max-width: none;
}
.product__title {
  font-size: 1.5em;
  color: #000;
  line-height: 1.1;
  margin-top: 0.8rem;
}
.quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  left: -20px;
  width: 45px;
  height: 45px;
  background-color: #2e8b57;
  color: #fff;
  border-radius: 50%;
}
.product__btn {
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  right: 30px;
  background-color:#2e8b57;
  color:#fff; 
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
}
.product__btn:hover {
  box-shadow: 0 4px 6px -20px rgba(0, 0, 0, 0.2);
  background-color: #267347;
}
.plus__btn {
  cursor: pointer;
  background-color: #4BB543;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
  width: 50%;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: large;
}
.plus__btn:hover {
  box-shadow: 0 36px 28px -20px rgba(0, 0, 0, 0.20);
  background-color: #25851e;
}
.minus__btn {
  cursor: pointer;
  background-color: #F32013;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
  width: 50%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: large;
}
.minus__btn:hover {
  box-shadow: 0 36px 28px -20px rgba(0, 0, 0, 0.20);
  background-color: #b71108;
}
.quantityBtns{
  position: absolute;
  display: flex;
  bottom: -25px;
  right: 30px;
  width: 122px;
  height: 56px;
}
.product__price{
  display: block;
  font-size: 18px;
  margin: 10px 0 !important;
}
.cart-btn{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 6vh;
  position: fixed;
  background:#2e8b57;
  bottom: 0;
  color:#fff;
  backdrop-filter: blur(5px);
  cursor: pointer;
}
.pricee{
  font-weight: bold;
}

@media only screen and (max-width: 950px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5rem;
  }
  .tags-container {
    display: flex;  
  }
  .quantity {
    top: -15px;
    left: -15px;
    width: 45px;
    height: 45px;
  }
  .btn {
    bottom: -20px;
    right: 25px;
    padding: 1.2em 3em;
  }
  .product {
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    /* box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .quantityBtns{
    bottom: -20px;
    right: 25px;
    width: 108px;
    height: 50px;
  }
}
@media only screen and (max-width: 578px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem 20px 5rem 20px;
  }
  .tags-container {
    display: flex;  
  }
  .quantity {
    top: -15px;
    left: -15px;
    width: 45px;
    height: 45px;
  }
  .btn {
    bottom: -20px;
    right: 25px;
    padding: 1em 3em;
  }
  .product-container{
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .product {
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .quantityBtns{
    bottom: -20px;
    right: 25px;
    width: 108px;
    height: 45px;
  }
}

@media only screen and (max-width: 350px){
  .product {
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin: 1.5rem 1rem;
  }
}